body {
    margin: 0;
    padding: 0;
    background-color: #F3F2EF;
    width: 100%;
  }
  
  .container {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
  }
  
  /* Add styles for homeContainer */
  .homeContainer {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    /* padding: 20px; Add the desired padding around the home container */
  }
  
  /* Add styles for mainMenuContainer */
  .mainMenuContainer {
    margin-bottom: 20px; /* Add margin at the bottom to create space between MainMenu and Feed */
  }
  
  /* Add styles for feedContainer */
  .feedContainer {
    /* You can add any additional styles for the feed container here */
    margin-bottom: 20px; /* Add margin at the bottom to create space between MainMenu and Feed */
  }
  
  /* App Bar */
  .appBar {
    background-color: #ffffff; /* Set the background color for the app bar */
    display: flex; /* Use Flexbox to create a horizontal layout */
    align-items: center; /* Center items vertically in the app bar */
    padding: 0 20px; /* Add padding to the app bar */
  }
  
  /* Main Menu Toolbar */
  .mainMenuToolbar {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    height: 52px; /* Set the height of the app bar */
    margin: 0 auto;
  }
  
  /* Separator between Navigation Links and Profile Menu */
  .separator {
    width: 0.5px;
    background-color: #EBEBEB;
    height: 1px; /* Set the height of the separator */
  }
  .card-separator {
    width: 100%;
    background-color: #EBEBEB;
    height: 1px; /* Set the height of the separator */
  }
  
  /* Search Box */
  .searchBox {
    display: flex;
    align-items: center;
    background-color: #eef3f8;
    border-radius: 4px;
    flex: 1;
    height: 32px;
    padding: 4px 10px;
    max-width: 350px;
    margin-right: 250px;
  }
  
  /* Navigation Links */
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  /* Navigation Link Items */
  .navLinkItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  /* Profile Menu */
  .userProfileMenu {
    margin-left: 5px; /* Move the profile menu to the right */
  }
  
  .Card {
    padding-bottom: 10px;
  }
  
  .muibtn {
    border-radius: 30px;
  
   
}

.feedContainer {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  max-height: 100%;
  margin: 0 auto;
  flex-grow: 1; /* Ensure Feed container occupies all available space */
}

.AddProfileFeed {
  padding: 0 10px 0;
  /* min-height:100px; */
}

.AddProfileFeed1 {
  width: 100%;
  flex: 0.20;
}

.AddProfileFeed2 {
  width: 100%;
  flex: 0.80;
}



.feedItem {
  padding: 0 10px 0;
  /* min-height:100px; */
}

.feedItem1 {
  width: 100%;
  flex: 0.20;
}

.feedItem2 {
  width: 100%;
  flex: 0.55;
}

.feedItem3 {
  width: 100%;
  flex: 0.25;
}


.ProfileFeed {
  padding: 0 10px 0;
  /* min-height:100px; */
}

.ProfileFeed1 {
  width: 100%;
  flex: 0.70;
}

.ProfileFeed2 {
  width: 100%;
  flex: 0.30;
}





